<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>수리 소요 목록</h2>
<table class="table">
            <thead>
            <tr>
                <th th:text="hello">ID</th>
                <th th:text="hello">상품명</th>
                <th th:text="hello">가격</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boards}">
                <td><a href="item.html" th:href="@{/board/{boardId}(boardId=${board.boardNumber})}" th:text="${board.boardNumber}">등록번호</a></td>
                <td th:text="${board.title}">제목</td>
                <td th:text="${board.content}">10000</td>
            </tr>
            </tbody>
        </table>
</body>
</html>