<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springtest.mapper.BoardMapper">

    <insert id="saveBoard" parameterType="com.example.springtest.domain.BoardDAO" useGeneratedKeys="true" keyColumn="board_number" keyProperty="boardNumber">
        insert into boarddao(title,content,server_save_file_name,real_file_name)
        values (#{title},#{content},#{serverSaveFileName},#{realFileName})
    </insert>

    <select id="getAllBoard" resultType="com.example.springtest.domain.BoardDAO" parameterType="com.example.springtest.domain.BoardDAO">
        select * from boarddao;
    </select>

    <select id="findByBoardId" resultType="com.example.springtest.domain.BoardDAO" parameterType="long">
        select * from boarddao
        where board_number = #{boardNumber}
    </select>

    <update id="updateBoard" parameterType="com.example.springtest.domain.BoardDAO">
        update boarddao
        set title = #{title}, content = #{content}, server_save_file_name = #{serverSaveFileName}, real_file_name = #{realFileName}
        where board_number = #{boardNumber}
    </update>

    <delete id="deleteByBoardId" parameterType="long">
        delete boarddao
        where board_number = #{boardNumber}
    </delete>
    <delete id="deleteAll">
        delete boarddao
    </delete>
</mapper>